---
import GlassNav from "../../components/GlassNav.astro";
import SiteLayout from "../../layouts/SiteLayout.astro";
---

<SiteLayout title="Journey | 1321" description="Journey.">
  <GlassNav />
  <main class="interior-page"></main>
</SiteLayout>
