---
import GlassNav from "../components/GlassNav.astro";
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="Benchmarks | 1321" description="Benchmarks.">
  <GlassNav />
  <main class="interior-page"></main>
</SiteLayout>
