---
import BenchmarkFooter from "./BenchmarkFooter.astro";
import Instrument from "./Instrument.astro";
import Summary from "./Summary.astro";
import "./styles/index.css";
---

<main class="bench-page">
  <div class="bench-shell">
    <Summary />
    <Instrument />
    <BenchmarkFooter />
  </div>
</main>
